$cell-size: 100px;
$gap: 1px;
$border: 1px;
$color: #eee;
$columns: 7;
$paddings: 10px;
$column-cel: $columns * $cell-size;
$calendar-width: $column-cel + ($gap * ($columns - 1)) + (2 * $paddings);
$days: ((mon, 0), (tue, 1), (wed, 2), (thu, 3), (fri, 4), (sat, 5), (sun, 6));
